.userindex-component {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 35px;
}

.userindex-section-one, .userindex-section-two {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.userindex-section-one {
    width: 200px;
}

.userindex-section-two {
    width: 700px;
}

.userindex-user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userindex-user-profilepicture {
    width: 100px;
    height: 100px;
}
