/* Profile Page */
.profile-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-page-content {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 35px;
    margin-top: 35px;
}

.profile-banner {
    position: relative;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    box-shadow: var(--box-shadow-small);
    /* border-bottom: var(--primary-border); */
}

.profile-section-one, .profile-section-two {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.profile-section-one {
    width: 400px;
}

.profile-section-two {
    position: relative;
    width: 550px;
}

.banner-button {
    position: absolute;
    z-index: 1;
    right: 10%;
    bottom: -25px;
    padding: 20px;
    border: 5px solid var(--background-container);
    /* border: 2px var(--primary-colour) solid; */
    font-size: 0.9rem;
    font-weight: var(--font-thickness-300d-400l);
    border-radius: 0.6rem;
    background-color: var(--background);
    color: var(--neutral-text-colour);
    box-shadow: var(--box-shadow-small);
    cursor: pointer;
}

.banner-feedback, .avatar-feedback {
    position: absolute;
    top: -25px;
    left: 5px;
}

.createpost-file-name {
    color: var(--success-text-colour);
}

.createpost-file-error {
    color: var(--error-text-colour);
}

.profile-edit-textarea {
    border: 0;
    outline: 0;
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    width: 100%;
    background-color: var(--background);
    border-radius: 0.4rem;
    padding: 5px;
    box-sizing: border-box;
    color: var(--neutral-text-colour);
    font-weight: var(--font-thickness-300d-400l)
}

/* User Page User Section */
.profile-user-section {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    gap: 10px;
    background-color: var(--background-container);
    border-radius: var(--bg-container-br);
    box-shadow: var(--box-shadow-small);
}


/* Profile Edit Section  - - - - - - - - - */
.profile-edit-section {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    background-color: var(--background-container);
    border-radius: var(--bg-container-br);
    box-shadow: var(--box-shadow-small);
}

.profile-edit-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-edit-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-edit-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-edit-form-item {
    display: flex;
    flex-direction: column;
}

.profile-edit-form-item > label {
    color: var(--neutral-text-colour);
    font-size: 0.6rem;
    margin-left: 4px;
}

.profile-edit-buttons {
    position: absolute;
    right: 15px;
    z-index: 1;
    display: flex;
    gap: 10px;
}

.profile-edit-button {
    padding: 8px 14px;
    /* border: 2px var(--primary-colour) solid; */
    border: 0;
    font-size: 0.8rem;
    font-weight: var(--font-thickness-300d-400l);
    border-radius: 0.3rem;
    background-color: var(--background);
    color: var(--neutral-text-colour);
    box-shadow: var(--box-shadow-small);
    cursor: pointer;
}

.profile-edit-button-cancel {
    padding: 8px 14px;
    /* border: 2px var(--primary-colour) solid; */
    border: 0;
    font-size: 0.8rem;
    font-weight: var(--font-thickness-300d-400l);
    border-radius: 0.3rem;
    background-color: var(--background);
    color: var(--neutral-text-colour);
    box-shadow: var(--box-shadow-small);
    cursor: pointer;
}

.profile-edit-input {
    background-color: var(--background);
    border: 0;
    padding: 5px;
    border-radius: 0.4rem;
}

.profile-edit-title {
    font-size: 1.4rem;
    color: var(--neutral-text-colour);
    line-height: 1.1rem;
    font-weight: 400;
}

.profile-edit-button-confirm {
    padding: 8px 14px;
    /* border: 2px var(--primary-colour) solid; */
    border: 0;
    font-size: 0.8rem;
    font-weight: var(--font-thickness-300d-400l);
    border-radius: 0.3rem;
    background-color: var(--background);
    color: var(--neutral-text-colour);
    box-shadow: var(--box-shadow-small);
    cursor: pointer;
}
