.user-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;

}

.user-page-content {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 35px;
    margin-top: 35px;

    /*  */
    position: relative;
}

.user-banner {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    box-shadow: var(--box-shadow-small);
    /* border-bottom: var(--primary-border); */
}

.user-section-one, .user-section-two {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.user-section-one {
    width: 400px;

    /*  */
    position: sticky;
    z-index: 200;
    top: 95px;
    bottom: 35px;
    left: 0;
    height: calc(100dvh - 130px);
    overflow-y: auto;
    /* overflow: hidden; */    
}

/* Hide scrollbar for Chrome, Safari and Opera */
.user-section-one::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.user-section-one {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

.user-section-two {
    width: 550px;
}

/* User Page User Section */
.user-user-section {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    gap: 10px;
    background-color: var(--background-container);
    border-radius: var(--bg-container-br);
    box-shadow: var(--box-shadow-small);
}

.user-section-top {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: var(--separator-line);
}

.userpage-user-section-name {
    font-size: 1.4rem;
    color: var(--neutral-text-colour);
    line-height: 1.1rem;
    font-weight: 400;
    padding-bottom: 10px;
}

.user-section-info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    /* gap: 15px; */
}

.user-section-info-bio {
    color: var(--neutral-text-colour);
    font-size: 0.9rem;
    font-weight: var(--font-thickness-300d-400l);
    width: 100%;
}

.user-section-info-item {
    color: var(--neutral-text-colour);
    font-size: 0.8rem;
    line-height: 0.8rem;
    font-weight: var(--font-thickness-300d-400l);
    padding-bottom: 5px;
}

.user-profilepicture-large {
    width: 120px;
    height: 120px;
    border-radius: 0.5rem;
}
/* User Page Friends Section */
.user-contacts-loading, .user-photos-loading, .user-post-loading {
    padding: 15px;
    color: var(--neutral-text-colour);
    font-size: 0.9rem;
    font-weight: 400;
    background-color: var(--background-container);
    border-radius: var(--bg-container-br);
    box-shadow: var(--box-shadow-small);
}

.user-contacts-section {
    background-color: var(--background-container);
    border-radius: var(--bg-container-br);
    box-shadow: var(--box-shadow-small);
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}

.contact-section-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 5px;
    border-bottom: var(--separator-line);
}

.user-contacts-section > :last-child {
    border: 0
}

/* User Photos Section */
.user-photos-section {
    background-color: var(--background-container);
    border-radius: var(--bg-container-br);
    box-shadow: var(--box-shadow-small);
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 15px;
    /* align-items: start; */
}

.photo-wrapper {
    width: 100%;
    height: 100%;
}

.container-test {
    /* width: 100%;
    height: 100%; */
    position: relative;
    /* z-index: 10; */
    padding-top: 100%;
    box-sizing: border-box;
}

.user-photos-photo {
    cursor: pointer;
    border-radius: 0.4rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.container-test .user-photos-photo {
    position: absolute;
    top: 0;
    right:0;
    left: 0;
    bottom: 0;
  }

/* User Request Buttons */
.user-request-buttons {
    position: absolute;
    right: 15px;
    z-index: 1;
    display: flex;
    gap: 10px;
}

.user-request-button {
    padding: 8px 14px;
    /* border: 2px var(--primary-colour) solid; */
    border: transparent 1px solid;
    font-size: 0.8rem;
    font-weight: var(--font-thickness-300d-400l);
    border-radius: 0.3rem;
    background-color: var(--background);
    color: var(--neutral-text-colour);
    box-shadow: var(--box-shadow-small);
    cursor: pointer;
}

.user-page-request-container {
    display: flex;
    gap: 10px;
}