body.light {
  --background: #edeef5;
  --background-container: #ffffff;
  --primary-colour: rgb(228, 228, 106);
  /* small box shadow */
}

body.dark {
  --background: #161616;
  --background-container: #111111;
  --primary-colour: rgb(236, 236, 167);
}

/* :root.dark-mode {

} */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

h4 {
  margin: 0;
}

