.navigation-component {
    width: 100%;
    height: 50px;
    /* If updating, update sticky elements in other components. */
    padding: 15px 0;
    background-color: var(--background-container);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 8px;
    position: sticky;
    top: 0;
    z-index: 9990;
    border-bottom: 1px solid var(--primary-colour);
}

.navigation-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-logo {
    width: 200px;
}

.navbar-name {
    font-size: 1.2rem;
    font-weight: var(--font-thickness-400d-500l);
    color: var(--neutral-text-colour);

}